body {
  background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/linedpaper.png); background-size: auto; background-repeat: repeat repeat;
	width: 95%;
	margin:auto;
	position:relative;
}

html{
    height: 100%;
    overflow-x: hidden;
}

.social-links-li {
  display:inline-block;
  margin:0 10px;
}

#social-links {
 margin: 30%;
}

.email-icon {
  width:65px;
  position:relative;
}

.github-icon {
  width: 65px;
  position:relative;
}

.resume-icon {
  width: 45px;
  border: #e0e0e0 solid 1px;
}


.linkedin-icon {
width:65px;
position:relative;
}

.phone-icon {
  width:65px;
}

.my_number {
  height:33px;
  width:139px;
  font-size:27px;
  color: #1d1e19;
  margin: 0 0 0 61px;
  -webkit-text-shadow: 2px 2px 3px #b8be9e;
  -moz-text-shadow: 2px 2px 3px #b8be9e;
  text-shadow: 2px 2px 3px #b8be9e;
}
.resume {
}
