body {
	font-family: georgia, serif;
	width: 95%;
	margin:auto;
	position:relative;
}

html{
    height: 100%;
    overflow-x: hidden;
}

.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    -webkit-transform:translateZ(0);
    background: white;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
}
.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}
/*^  curtain.js css*/


h1 {font-size: 64px}

h2 {font-size: 36px}

h3 {font-size: 28px}

#title-page-name {
  margin: 157px 0 0 30%;
  font-family: 'Niconne', cursive;
  width: 40%;
}

#title-page-description {
  font-family: 'Smythe', cursive;
  margin: 15px 0 0 46%;
  width: 40%;
}

#fixed-text {
  font-family: 'Smythe', cursive;
  margin: 300px 0 0 10px;
  width: 279px;
  font-size: 30px;
}

.github-icon {
	width: 35px;
	margin: 0 0 -17px 7px;
}



.linkedin-icon {
margin: 0 0 -12px 11px;
width:30px;
}


.cleaned-link {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	position: relative;
}

#section-1 {
	background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/linedpaper.png); background-size: auto; background-repeat: repeat repeat;
  }

#section-2 {
  background-image: url(http://bradjasper.com/subtle-patterns-bookmarklet/patterns/debut_dark.png); background-size: auto; background-repeat: repeat repeat;

}

#sequestials {
	width:85%;
  margin: 0 0 0 5%;
}

#Skydiving-page-article {
	position:fixed;
}

.app-screen-shots {
  width: 750px;
  float:right;
}

.skydiving-images{
width:500px !important;
  height:auto !important;
}

.slidesjs-control {
  height:600px;
}
